.profile{
    max-width: 882px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 950px){
.profile{
    flex-direction: column;
    width: auto;
    }
}