.header{
    max-width: 882px;
    height: 74px;
    padding: 0;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 950px){
    .header{
    width: auto;
    margin: 28px -3px 0 -1px;
    height: 56px;
}
}